:root{
    --DarkCyan:hsl(158, 36%, 37%);
    --CyanDark:hsl(158, 37%, 20%);
    --Cream: hsl(30, 38%, 92%);

    --VeryDarkBlue: hsl(212, 21%, 14%);
    --DarkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --PrimaryFont: "Fraunces", serif;
    --SecondaryFont: "Montserrat", sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.4rem;
    background-color: var(--Cream );
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content{
    width: 34.3rem;
    height: 61.1rem;
    background-color: var(--White);
    border-radius: 1rem;

}

@media (min-width: 768px){
    .content{
        width: 60rem;
        height: 45rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.content img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media (min-width: 768px){
    .movile__picture{
        display: none;
    }
    .desktop__picture{
        width: 30rem;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-image: url(/images/image-product-desktop.jpg);
    }
}

.shop{
    padding: 2rem;
}

@media (min-width: 768px){
    .shop{
        padding: 3rem;
   }
}

.shop span{
    color: var(--DarkGrayishBlue);
    font-family: var(--SecondaryFont);
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.2rem;
}

.shop h1{
    font-size: 3.2rem;
    font-family: var(--PrimaryFont);
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

@media (min-width: 768px){
    .shop h1{
        font-size: 3.6rem;
    }
}

.shop p{
    color: var(--DarkGrayishBlue);
    font-size: 1.46rem ;
    font-family: var(--SecondaryFont);
    margin: 0;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px){
    .shop p{
        line-height: 1.6;
    }
}

.price{
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
}

@media (min-width: 768px){
    .price{
        margin-top: 2.4rem;
    }
}

.price h2{
    margin: 0;
    color: var(--DarkCyan);
    font-size: 3rem;
    font-family: var(--PrimaryFont);
}

.price p{
    color: var(--DarkGrayishBlue);
    text-decoration: line-through;
    text-decoration-color: var(--DarkGrayishBlue);
    margin: 0;
    margin-top: .4rem;
}

.button{
    padding: 1.4rem 10rem;
    background-color: var(--DarkCyan);
    display: flex;
    border-radius: 1rem;
    gap: .4rem;
    justify-content: center;
}

@media (min-width: 768px){
    .button{
        margin-top: 2.6rem;
    }
}

@media (min-width: 768px){
    .button{
        padding: 1.4rem 6rem;
    }
}

.button img{
    max-width: 2rem;
}

.button input{
    background-color:transparent;
    color: var(--White);
    text-decoration: none;
    border: none;
    font-family: var(--SecondaryFont);
    font-weight: bold;
}

@media (min-width: 768px){
    .button:hover{
        background-color: var(--CyanDark);
    }
}
